# Системные файлы
.DS_Store
*.swp
*.swo

# Файлы редакторов/IDE
.idea/
.vscode/

# Git
.git/
.gitignore

# Виртуальные окружения
venv/
env/

# Кеш Python
__pycache__/
*.py[cod]

# Переменные окружения
.env
.env.local

# Логи
*.log
logs/